@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

:root{
    --fundo:  #4B0082;
    --cartao-frente: #6A5ACD;
    --cartao-verso:  #0372ce;
    --destaque: #4B0082;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;

}

header{
    background-color: var(--fundo);
    color: var(--fundo);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

header a{
    text-decoration: none;
    color: var(--branco);
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--branco);
    color: var(--fundo);
    width: 100%;
    text-align: center;
    font-family: "Jersey 25", sans-serif;
    font-weight: 600;
    font-style: normal;
}


#container{
    display: grid;
    gap: 3rem;
    padding: 20px;
}

.conteudo-cartao{
    padding: 40px;
    background-color: var(--cartao-frente);
    box-shadow: 3px 3px 2px var(--preto);
    border: 1px solid var(--branco);
    border-radius: 30px;
    cursor: pointer;
}

.conteudo-cartao:hover{
    transform: scale(1.02);
}
.resposta-cartao{
    background-color: var(--cartao-verso);
}