:root{
    --fundo: #6A5ACD;
    --cartao-frente: #00FF00;
    --cartao-verso: #006400;
    --destaque: #4B0082;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
    
}